PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://inventory_user:inventory_password@localhost:5432/inventory_db

KAFKA_CLIENT_ID=inventory-management-api
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=inventory-events
KAFKA_GROUP_ID=inventory-management-consumer

JWT_SECRET=ycrtes56788tvihcfjxsxut6776878
JWT_EXPIRES_IN=24h

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

FRONTEND_URL=http://localhost:5173
